@use "../base/variables" as vars;
@use "../utils/breakpoints" as breakpoints;

button {
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.button {
  border-radius: 100px;
  padding: 0.8rem 2rem;
  display: inline-block;

  &--play,
  &--pause {
    border-radius: 50%;
    width: 4.8rem;
    height: 4.8rem;
    border: none;
    background-color: vars.$color-play-bg;
    cursor: pointer;
  }

  &--contact {
    background-image: url("/img/svgs/telephone.svg");
    background-repeat: no-repeat;
    background-position: 10%;
    background-size: auto;
    border-radius: 10rem;
    padding: 1.2rem 2.4rem 1.2rem 3.5rem;
  }

  &--menu-white {
    background-color: vars.$color-sky-blue;
    border: 1px solid vars.$color-white;
    color: vars.$color-white;
    transition: all 0.1s ease-in-out;

    &:hover {
      transform: scale(1.05) translateY(-2px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      border: 1px solid vars.$color-primary-dark;
      color: vars.$color-primary-dark;
      background-color: vars.$color-primary-light;

      @include breakpoints.respond(phone) {
        transform: scale(1.05);
      }
    }

    &:active {
      filter: brightness(0.9);
      transform: translateY(4px);
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    }
  }

  &--text {
    display: grid;
    grid-template-columns: auto 2rem;
    gap: 0.5rem;
  }

  &--primary-green {
    background-color: vars.$color-primary;
    color: white;
    border: 1px vars.$color-primary solid;

    &:hover {
      background-color: vars.$color-primary-dark;
    }
  }

  &--white-green-border {
    background-color: vars.$color-white;
    color: vars.$color-primary;
    border: 1px vars.$color-primary solid;

    &:hover {
      background-color: vars.$color-primary-light;
      border-color: vars.$color-white;
      box-shadow: none;
    }

    @include breakpoints.respond(phone) {
      padding: 0.8rem 1.2rem;
    }
  }
}

.round-button {
  border-radius: 50%;
  height: 4.2rem;
  width: 4.2rem;
  border: 1px vars.$color-primary solid;

  &--left {
    background-color: vars.$color-white;
    color: vars.$color-primary;

    &:hover:not(:disabled) {
      background-color: vars.$color-primary-light;
      border: 1px vars.$color-white solid;
    }
  }

  &--right {
    background-color: vars.$color-primary;
    color: vars.$color-white;

    &:hover:not(:disabled) {
      background-color: vars.$color-primary-dark;
      border: 1px vars.$color-white solid;
    }
  }
}

.button-property-active {
  background-color: vars.$color-active-filter;
  border: 1px vars.$color-white solid;
  box-shadow: inset 0px 0px 28px -24px rgb(31, 31, 31);
  &:hover {
    background-color: vars.$color-active-filter-hover;
  }
}

button:disabled {
  opacity: 0.5;
  cursor: auto;
}

.scroll-button {
  transition: opacity 0.2s;
}
