@use "variables" as vars;
@use "../utils/breakpoints" as breakpoints;

body {
  font-family: vars.$font-primary;
  color: vars.$color-black;
  font-size: 1.6rem;
}

.button {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.75rem;

  @include breakpoints.respond(tab-port) {
    font-size: 1.2rem;
  }

  &--search {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.4rem;

    &:hover {
      font-weight: 900;
    }
  }

  &--white-green-border {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.4rem;
  }

  &--contact {
    font-weight: 600;
  }
}

.dropdown__menu {
  &--property {
    font-size: 1.2rem;
  }
}

.header {
  &__hero {
    &--main-heading {
      font-size: 4rem;
      line-height: 5rem;
    }

    &--main-paragraph {
      color: vars.$color-grey-3;
      font-weight: 300;
      font-size: 1.6rem;
      line-height: 2.4rem;
    }
  }

  &__partnership {
    h3 {
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 2.4rem;
      color: vars.$color-grey-2;
    }
  }

  &__logo-text {
    font-weight: 900;
    font-size: 1.8rem;
  }
}

.info-card {
  p:first-child {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 600;
  }

  p:last-child {
    color: vars.$color-grey-2;
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 300;
  }
}

.featured-house {
  &__item {
    &-name {
      font-size: 2.4rem;
      line-height: 3rem;
      font-weight: 500;
    }

    &-price {
      color: vars.$color-grey-3;
      font-size: 2rem;
      font-weight: 500;
      line-height: 2.5rem;
    }

    &-status {
      font-size: 1.4rem;
      line-height: 1.75rem;
      font-weight: 500;
    }

    &-agent-info {
      p:first-child {
        font-size: 1.8rem;
        line-height: 2.4rem;
        font-weight: 500;
      }
      p:last-child {
        color: vars.$color-grey-2;
        font-size: 1.4rem;
        line-height: 2.4rem;
        font-weight: 400;
      }
    }
  }
}

.subscribe {
  &__title {
    text-align: center;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 4rem;
  }
}

.form {
  &__info {
    text-align: center;
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 3rem;
  }

  &__benefit {
    color: vars.$color-grey-3;
    font-size: 1.6rem;
    font-weight: 300;
  }

  &__label {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.4rem;
  }

  &__checkbox-wrapper {
    color: vars.$color-grey-3;
    font-weight: 400;
    line-height: 2.4rem;
    font-size: 1.4rem;
  }

  &__message {
    &__char-limit {
      font-size: 1.2rem;
      line-height: 1.5rem;
      color: vars.$color-grey-2;
      font-weight: 300;
    }
  }

  &__error-message {
    color: vars.$color-danger;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  &__textarea::placeholder,
  &__input::placeholder,
  option {
    font-size: 1.2rem;
    font-family: vars.$font-primary;
    font-weight: 300;
  }

  textarea,
  input {
    font-family: inherit;
    font-weight: 300;
    font-size: 1.2rem;
    color: vars.$color-grey-2;
  }

  &__select-options li {
    font-size: 1.4rem;
  }
}

.house-tour {
  &__subtitle {
    color: vars.$color-grey-2;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

.house-details {
  &__title {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;
  }

  &__item {
    font-weight: 500;
    color: vars.$color-grey-3;
    font-size: 1.6rem;
  }
}

.agent {
  &__info {
    &__name {
      font-size: 1.8rem;
      font-weight: 500;
    }

    &__location {
      color: vars.$color-grey-2;
      font-size: 1.4rem;
      font-weight: 400;
    }
  }
}

.decorative-tag {
  font-size: 1.4rem;
  color: vars.$color-secondary;
  line-height: 2.4rem;
  font-weight: 400;
}

.section-title {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 4rem;
}

.footer {
  &__info {
    &-description {
      color: vars.$color-grey-3;
      font-weight: 400;
      font-size: 1.4rem;
    }
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 500;
  }

  &__link,
  &__contact {
    font-size: 1.4rem;
    font-weight: 400;
    color: vars.$color-grey-2;
  }
}

.logo-text {
  font-weight: 900;
  font-size: 1.8rem;
}
