@use "../base/variables" as vars;
@use "../utils/breakpoints" as breakpoints;
@use "../utils/mixins.scss" as *;
@use "sass:map";

.footer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 2rem;
  padding: 12rem vars.$horizontal-padding 8rem;

  background-image: url("/img/backgrounds/footer-bg.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 40% auto;
  z-index: map.get(vars.$zindex, before-bg);

  @include breakpoints.respond(big-desktop) {
    background-size: 30% auto;
  }

  @include breakpoints.respond(tab-land) {
    background-size: 50% auto;
  }

  @include breakpoints.respond(phone) {
    background-size: 100% auto;
  }

  &__info {
    &-logo {
      position: relative;
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 1.4rem;

      .logo-shape {
        background-color: vars.$color-logo-green;
        height: 3.2rem;
        width: 3.2rem;
        border-radius: 4px 4px 24px 4px;
        margin-top: -0.5rem;

        &::before {
          content: "";
          position: absolute;
          background-color: vars.$color-secondary;
          height: 3.2rem;
          width: 3.2rem;
          border-radius: 4px 4px 24px 4px;
          top: -0.4rem;
          left: -0.4rem;
          margin-top: -0.5rem;
          z-index: map.get(vars.$zindex, before-bg);
        }
      }
    }

    &-description {
      padding-top: 1.4rem;
      max-width: 37.5rem;
    }
  }

  &__social {
    display: grid;
    grid-template-columns: repeat(3, auto);
    max-width: 14.5rem;
    margin-top: 2rem;

    .social-icon {
      width: 3.2rem;
      height: 3.2rem;

      &:hover {
        mask-image: linear-gradient(
          75deg,
          rgba(255, 255, 255, 0.9) 45%,
          rgba(255, 255, 255, 0.415) 50%,
          rgba(255, 255, 255, 0.9) 55%
        );
        mask-size: 300%;
        mask-mode: luminance;
        animation: shine 1.5s infinite;
      }
    }
  }

  &__columns {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 2rem;

    @include breakpoints.respond(tab-land) {
      padding-top: 2rem;
    }
  }

  &__title {
    padding-bottom: 2rem;
    justify-items: start;
  }

  &__list,
  &__contact {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 2rem;
  }

  @include breakpoints.respond(tab-land) {
    grid-template-columns: auto;
  }
}

@keyframes shine {
  from {
    mask-position: 150%;
  }
  to {
    mask-position: -50%;
  }
}
